
.topnav {
  overflow: hidden;
  background-color: #fff;
  width:190px;
  
}

.topnav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: green;
  color: black;
  border-radius: 50px;
}

.topnav a.active {
  background-color: ;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: ;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align:left;
  }
}


.topnav {
  overflow: hidden;
  background-color: #fff;
  width:190px;
  
}

.t a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.t a:hover {

  color: black;
}

.t a.active {
  background-color: ;
  color: white;
}

.t .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .t a:not(:first-child) {display: none;}
  .t a.icon {
    position: absolute;
    top: 10px;
    left: 420px;
    float: right;
    display: block;


  }
}

@media screen and (max-width: 600px) {
  .t.responsive {position: relative;}
  .t.responsive .icon {
    position: absolute;
    right: ;
    top: 0;
  }
  .t.responsive a {
    float: none;
    display: block;
    text-align:right;
  }
}


.v a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 42px;
}

.v a:hover {
 
  color: black;
}

.v a.active {
  
  color: white;
}

.v .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .v a:not(:first-child) {display: none;}
  .v a.icon {
    position: absolute;
    top: -5px;
    left: 165px;
    float: right;
    display: block;



  }
}

@media screen and (max-width: 600px) {
  .v.responsive {position: relative;}
  .v.responsive .icon {
    position: absolute;
    right: ;
    top: 0;
  }
  .v.responsive a {
    float: none;
    display: block;
    text-align:right;
  }
}


button{
	background-color: red;
	color: white;
	font-size: 26px;
	border-radius: 50px;
	border: none;
	padding: 10px 53px;
	margin: 50px 62px;
	text-align: center;
	 text-decoration: none;
}

 .pk{
 	position: absolute;
 	margin: 0px 0px 0px 300px;
 	padding: 0px 0px 0px 0px;
 	top: 90px;
 	font-size: 40px;
 	font-family: bold;
 }
 .pk1{
 	position: absolute;
 	margin: 0px 0px 0px 930px;
 	padding: 0px 0px 0px 0px;
 	top: 70px;
 	font-size: 19px;
 	font-family: bold;
 	color: gray;
 }
 hr.new4 {
 	
 	width: 92px;
    border: 1px solid red;
    position: absolute;
 	margin: 0px 0px 0px 930px;
 	padding: 0px 0px 0px 0px;
 	top: 260px;
}


img{
	border-radius: 78px;

}

.pk3{
  width: 159px;
  padding: 10px 10px 60px 10px;
  border: 0px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 20px;
  position: absolute;
  margin: 0px 0px 0px 280px;
  top: 350px;
}

.pk4{
  width: 159px;
  padding: 10px 10px 60px 10px;
  border: 0px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 20px;
  position: absolute;
  margin: 0px 0px 0px 480px;
  top: 350px;

}

.pk5{
  width: 159px;
  padding: 10px 10px 60px 10px;
  border: 0px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 20px;
  position: absolute;
  margin: 0px 0px 0px 680px;
  top: 350px;
}

.pk6{
  width: 159px;
  border: 0px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 20px;
  position: absolute;
   padding: 10px 10px 60px 10px;
  margin: 0px 0px 0px 880px;
  top: 350px;
}

.pk7{
  width: 159px;
  padding: 10px 10px 60px 10px;
  border: 0px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 20px;
  position: absolute;
  margin: 0px 0px 0px 1090px;
  top: 350px;
  
}

.pk8{
	position: absolute;
 	margin: 0px 0px 0px 310px;
 	padding: 0px 0px 0px 0px;
 	top: 505px;

}

.pk9{
	position: absolute;
 	margin: 0px 0px 0px 500px;
 	padding: 0px 0px 0px 0px;
 	top: 505px;

}

.pk10{
	position: absolute;
 	margin: 0px 0px 0px 730px;
 	padding: 0px 0px 0px 0px;
 	top: 505px;

}
.pk11{
	position: absolute;
 	margin: 0px 0px 0px 900px;
 	padding: 0px 0px 0px 0px;
 	top: 505px;

}
.pk12{
	position: absolute;
 	margin: 0px 0px 0px 1140px;
 	padding: 0px 0px 0px 0px;
 	top: 505px;

}
@media(max-width: 500px){


 .pk{
  position: absolute;
  left: -250px;
  top: 30px;
 }
 .pk1{
  position: absolute;
  top: 1100px;
  left: -880px;

  }
 hr.new4 {
  position: absolute;
  top: 1290px;
  left: -880px;
  
}


img{
  border-radius: 78px;

}

.pk3{
  position: absolute;
  left: -230px;
 
}

.pk4{
  position: absolute;
  left: -220px;


}

.pk5{
 position: absolute;
  top: 590px;
  left: -630px;
}

.pk6{
  position: absolute;
  top: 590px;
  left: -620px;

 }


.pk7{
 position: absolute;
  top: 830px;
  left: -1040px;

}

.pk8{
   position: absolute;
  top: 510px;
  left: -220px;

}

.pk9{
  position: absolute;
  top: 510px;
  left: -220px;

}

.pk10{
   position: absolute;
  top: 750px;
  left: -620px;

}
.pk11{
  position: absolute;
  top: 752px;
  left: -620px;

}
.pk12{
  position: absolute;
  top: 985px;
  left: -1040px;

}

}